*{
margin: 0;
padding: 0;
}

.background{
background-image: linear-gradient(45deg, black, );
height: 100%;
color: #fff;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

.calculator{
position: absolute;
background-color: rgba(0, 0, 0, 0.8);
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 20px;
padding: 15px;
}

.boton{
width: 55px;
height: 50px;
font-size: 20px;
cursor: pointer;
background-color: rgb(3);
border: 2px;
color: black;
    
}
.boton:hover{
background-color: black;
}
#result{
background-color: white;
width: 210px;
height: 50px;
margin: 5px;
font-size: 25px;
color: black;
text-align: right;
padding: 5px;
}

